@import "../variables";
.header {
        position: relative;
        height: 20%;
        width: 100%;
        background-color:azure;
        border-bottom: 1px solid $orange;
        display: flex;
        justify-content: center;
        align-items: center;
  &__icons {
    display: flex;
  }

     .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
}

.menu {
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    font-weight: 600;
    &__link {
        color: #12265A;
        &:hover {
            color: #76d0de;
            display: block;
        }
    }
    &__content {
        display: none;
        position: absolute;
        z-index: 1;
    }
    &:hover  &__content {
        display: block;
    }
}
